body {
  margin: 0;
  padding: 0;
  min-height: 90vh;

  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
    background-color: cyan;
    position: sticky;
    top: 0;
}
.search {
  height: 50px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  border: 2px solid rgb(134, 134, 134);
}
.search input {
  height: 100%;
  width: 80%;
  background-color: #fff;
  border: transparent;
  outline: none;
  font-size: 16px;
}
.search input::placeholder {
  font-size: 20px;
  text-transform: capitalize;
}
.search svg {
  margin-right: 10px;
  cursor: pointer;
}
.headerLogo {
  height: 200px;
  width: 200px;
  /* background-color: #fff; */
  margin-left: 100px;
  margin-top: 15px;
}
.headerLogo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.navigation {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 550;
}
.navigation nav {
  cursor: pointer;
}
.hero-1{
    height: 700px;
    width: 100%;
    background-color: pink;
}
.hero1Left{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    justify-content: space-around;
}
.hero1Left h1{
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
.hero1Left p{
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0,0, 0.5);
  text-align: center;
  
}
.heroButton{
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.hero1Right{
height: 500px;
width: 50%;
margin-left: 50px;
}
.hero1Right img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 50px;
}
.hero-1{
  display: flex;

}
/* .heroButton {
  height: 200px;
} */
.heroButton .button1{
  height: 50px;
  width: 150px;
  outline: none;
  border: transparent;
  border-radius: 10px;
  background-color: cyan;
  cursor: pointer;
}
.heroButton .button2{
  height: 50px;
  width: 150px;
  border: none;
  background-color:#D87C49;
  border-radius: 10px;
  cursor: pointer;
}
.heroButton:hover{
  background-color:white;
  border: 1px solid grey;
  color: white;
}
