body{
margin: 0;
padding: 0;
}

.myblog{
display: flex;
justify-content: center;
align-items: center;
}

.but{
display: flex;
justify-content: center;
margin-left: 400px;
}

.Blogbut{
height: 50px;
width: 70px;
color: white;
background-color: rgb(128, 128, 238);
}

.hero{
display: flex;
justify-content: center;
align-items: center;
}
.Blog{
display: flex;
text-align: center;
text-decoration: aqua;
}

.Blog h1{
display: flex;
justify-content: center;
margin-top: 60px;
font-size: 30px;
text-decoration: underline;
color: white;
}

.Blog p{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.imageholder{
display: flex;
justify-content: space-around;
margin: 50px;
}

.imageholder img{
margin-top: 3opx;
height: 80px;
width: 80px;
object-fit: cover;
overflow: hidden;
}

.howitlooklike{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.how we do{
display: flex;
justify-content: center;
align-items: center;
}

.info img{
display: flex;
justify-content: center;
align-items: center;
margin-left: 200px;
}

.image2 img{
display: flex;
overflow: hidden;
object-fit: cover;
height: 100px;
width: 100px;
}

