body{
margin: 0;
padding: 0;
}

.myblog{
display: flex;
justify-content: center;
align-items: center;
}

.but{
display: flex;
justify-content: center;
}

.Blogbut{
height: 50px;
width: 70px;
color: white;
background-color: rgb(128, 128, 238);
}

.hero{
display: flex;
justify-content: center;
align-items: center;
}
.Blog{
display: flex;
text-align: center;
justify-content: center;
}

.Blog h1{
display: flex;
justify-content: center;
margin-top: 60px;
font-size: 30px;
color: white;
}

.Blog p{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.imageholder{
display: flex;
justify-content: space-around;
margin: 50px;
}

.imageholder img{
margin-top: 3opx;
height: 100%;
width: 100%;
object-fit: contain;
overflow: hidden;
}

.howitlooklike{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.howitlooklike img{
height: 100%;
width: 100%;
object-fit: contain;
overflow: hidden;
}

.how we do{
display: flex;
justify-content: center;
align-items: center;
}

.info img{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
overflow: hidden;
object-fit: contain;
}

.info h1{
display: flex;
justify-content: flex-start;
margin-left: 80px;
align-items: center;
}

.image2 img{
display: flex;
overflow: hidden;
object-fit: contain;
height: 100px;
width: 100px;
}

